.wrapper {
	color: var(--theme-color);
	background-color: var(--theme-background-page);

	&,
	& * {
		transition: background-color 250ms linear, color 250ms linear;
	}
}

.link {
	display: flex;
	text-decoration: none;
}

.header {
	&__navbar.navbar {
		color: var(--theme-color-header);
		background-color: var(--theme-background-header);

		& > .container-fluid {
			justify-content: flex-start;
		}
	}

	&__logo {
		width: auto;
		height: calc(1.375rem + 1.5vw + 4px);
		margin: 0;
	}
}
